 {% extends 'base.html' %}
 
 {% block content %}
 <!-- Header with Background Image -->
    <header class="headline">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="Idrissa"></div>
          </div>
          <div class="col-9">
            <h1 class="text-center text-white">Photographer and Web Developer</h1> <!-- display-3 -->
            </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row about">
        <div class="col-8">
          <h2>About me</h2>
          <p class='mb-3'>Hello!</p>
          <p>My name is Idrissa Cisse, I am a 14 year old rising web devloper, however I also do photography. I have been coding for 4 years now starting off in middle school when I was just messing around with my computer science teacher. Around the same time is when began to do photography, I would find myself in the upper east side of Manhattan and times square just photographing everything I saw. Now, I am going into the tenth grade and I plan to further my coding and photography skills.</p>
          <p>
            <a class="btn btn-primary btn-lg" href="#">My Work &raquo;</a>
          </p>
        </div>
        <div class="col-4">
          <h2>Contact Me</h2>
          <address>
            <strong>Name</strong>
            <br>3716 10th Ave
            <br>New York City, NY 10034
            <br>
          </address>
          <address>
            <abbr title="Phone">P:</abbr>
            (347) 258-8991
            <br>
            <abbr title="Email">E:</abbr>
            <a href="mailto:#">idicisse1@gmail.com</a>
            <br>
          <a href="https://www.facebook.com/idrissa.cisse.1656?ref=bookmarks">        
            <i class="fab fa-facebook-square"></i></a>  
          <a href="https://www.instagram.com/idicisse_/">
            <i class="fab fa-instagram"></i></a> 
          <a href="https://www.linkedin.com/in/idrissa-cisse-3aa266163/">
            <i class="fab fa-linkedin"></i></a>
            <a href=""></a>
          </address>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card">
          <div class="card-img-top babyme"></div> 
            <div class="card-body">
              <h4 class="card-title">My Childhood</h4>
              <p class="card-text">This is my story of how I became the person I am today.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-img-top MrBerrios"></div>  
            <div class="card-body">
              <h4 class="card-title">My Work</h4>
              <p class="card-text">These are a collection of photos and websites that I have created and edited!</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Take A Peek! &raquo;</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-img-top Mandela"></div> 
            <div class="card-body">
              <h4 class="card-title">My Role Models</h4>
              <p class="card-text">These group people are who i look up to because they have inspired me to want to work hard at what I want in life every single day.</p> 
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Here Are More! &raquo;</a>
            </div>
          </div>
        </div>

      </div>

    </div>
{% endblock %}
    